<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5" th:fragment="content">
    <h2 class="mb-4">Product List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Created At</th>
                <th>Created By</th>
				<th>Action</th>
				<th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.proId}"></td>
                <td th:text="${product.proName}"></td>
                <td th:text="${product.proBrand}"></td>
                <td th:text="${product.proPrice}"></td>
                <td th:text="${product.proDescription}"></td>
                <td th:text="${product.proCategory}"></td>
                <td th:text="${product.createdAt}"></td>
                <td th:text="${product.createdBy}"></td>
				<td>
				    <a th:href="@{/delete(id=${product.proId})}" 
				       onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
				</td>
				<td>
				    <a th:href="@{/edit(proId=${product.proId})}"
				       onclick="return confirm('Are you sure you want to edit this product?');">Edit</a>
				</td>
				
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
